<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--<add key="BPMServerName" value="172.28.253.21" />-->
    <add key="BPMServerName" value="172.28.0.12"/>
    <add key="BPMServerPort" value="1580" />
    <add key="DataServer" value="BPMDB" />
    <!--帐号密码 OAuthByLDAP 为 false 时起效 -->
    <add key="Acount" value="Joson" />
    <add key="PassWord" value="Joson" />
    <!--服务端凭证过期时间(分钟)-->
    <add key="Timeout" value="30" />
    <add key="OAuthByLDAP" value="true" />
    <add key="OAuthLDAP" value="digital" />
    <add key="DomainName" value="172.28.0.2" />
    <add key="OAuthURL" value="passport.com" />
    <add key="OAuthDefault" value="No" />
    <add key="OAuthDefaultURL" value="http://BPM.SDT.com/SSOLogin.aspx" />
    <!-- OAuthDefaultURL  OAuthSucessfulURL 功能相同 用于测试时使用 -->
    <add key="OAuthSucessfulURL" value="http://www.Passport.com/SSOWebSite.aspx" />
    <!--
    
    
    <add key="GetToken" value="http://www.passport.com/gettoken.aspx"/>
    <add key="AccountLogin" value="http://www.passport.com/userlogin.aspx"/>
    <add key="TokenService" value="http://www.passport.com/TokenService.asmx"/>

    <add key="OAuthCorrectMsg" value="恭喜，分站凭证存在，您被授权访问该页面！"/>
    <add key="TokenCorrectMsg" value="恭喜，令牌存在，您被授权访问该页面！" />
    
    -->
    <add key="OAuthSite" value="Config/OAuthSite.XML" />
    <!--
    
    <add key="OAuthURL" value="http://www.passport.com/"/>
    <add key="GetToken" value="http://www.passport.com/gettoken.aspx"/>
    <add key="TokenService" value="http://www.passport.com/TokenService.asmx"/>
    
    -->
    <!--
    
    分站配置以下
    
    <add key="OAuthURL" value="http://www.passport.com/"/>
    <add key="GetToken" value="http://www.passport.com/gettoken.aspx"/>
    <add key="AccountLogin" value="http://www.passport.com/userlogin.aspx"/>
    <add key="TokenService" value="http://www.passport.com/TokenService.asmx"/>
     
    <add key="OAuthCorrectMsg" value="恭喜，分站凭证存在，您被授权访问该页面！"/>
    <add key="TokenCorrectMsg" value="恭喜，令牌存在，您被授权访问该页面！" />
    
    <add key="OAuthDefaultURL" value="http://BPM.SDT.com/SSOLogin.aspx" />
    
    <add key="TokenCorrectRedirectURL" value="http://ehr.SDT.com/App/Index.aspx" />
    <add key="LogOutRedirect" value="http://ehome.sdt.com/Index.aspx" />
    -->
    <add key="SQLConnection" value="Data Source=192.168.8.205,1433;initial catalog=HR_Digital;User ID=admin;Password=hello@sky..12;persist security info=True;" />
    <add key="ConnectionString" value="Data Source=192.168.8.205,1433;initial catalog=HR_Digital;User ID=admin;Password=hello@sky..12;persist security info=True;" />
    
    <add key="SQLConn" value="Data Source=172.28.103.2\js,2222;initial catalog=jsmj;User ID=hrcw;Password=hrcw..2013;persist security info=True;" />

  </appSettings>
  <connectionStrings>
    <add name="NorthwindContext" connectionString="Data Source=|DataDirectory|\HrSQLite.SQLite" providerName="System.Data.SQLite.EF6" />
    <add name="SQLite" connectionString="Data Source=|DataDirectory|\HSQLite.SQLite" providerName="System.Data.SQLite.EF6" />
    <add name="BPMDB" connectionString="Data Source=192.168.8.205;Initial Catalog=BPMDB;Integrated Security=False;User ID=admin;Password=hello@sky..12" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.8.205;Initial Catalog=HR_Digital;Integrated Security=False;User ID=admin;Password=hello@sky..12" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0" />
    <machineKey validationKey="ABAA84D7EC4BB56D75D237CECFFB9628809BDB8BF91CFCD64568A145BE59719F" decryptionKey="ABAA84D7EC4BB56D75D237CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>-->
      <customBinding>
        <binding name="WebServiceSoaps">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://58.251.35.132:8000/oauth/WebService/WebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="JosonOAuth.WebServiceSoap" name="WebServiceSoap" />-->
      <endpoint address="http://58.251.35.132:8000/oauth/WebService/WebService.asmx" 
      binding="customBinding" bindingConfiguration="WebServiceSoaps" 
      contract="JosonOAuth.WebServiceSoap" name="WebServiceSoaps" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>