
body
{
	margin: 0;
	padding: 0;
	color: #6a6a6a;
	font-family: Tahoma;
	line-height: 1.8em;
	font-size: 13px;
	background: #FFF;
}

ul, ol, dl, dt, dd, h1, h2, h3, h4
{
	margin: 0;
	padding: 0;
}

li
{
	list-style-type: none;
}

a
{
	color: #195a94;
	text-decoration: none;
	font-size: 12px;
}

	a:hover
	{
		text-decoration: underline;
	}

.wrap
{
	width: 100%;
}

#header
{
	height: 86px;
}

.top
{
	width: 990px;
	height: 55px;
	position: relative;
	margin: 0 auto;
}

	.top .link
	{
		width: 150px;
		position: absolute;
		text-align: right;
		color: #72a5b8;
		bottom: 5px;
		right: 5px;
	}

		.top .link a
		{
			color: #72a5b8;
			font-size: 12px;
			padding: 0 5px;
			text-decoration: none;
		}

	.top .likn a:hover
	{
		text-decoration: underline;
	}

.nav_bg
{
	height: 31px;
	background: url(images/nav_bg.jpg);
}

.nav
{
	width: 990px;
	height: 31px;
	margin: 0 auto;
}

	.nav li
	{
		width: 110px;
		height: 31px;
		line-height: 31px;
		position: relative;
		float: left;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}

		.nav li a
		{
			display: block;
			color: #FFF;
			text-decoration: none;
		}

			.nav li a:hover
			{
				text-decoration: underline;
			}

			.nav li a.set
			{
				position: absolute;
				left: 0;
				top: -4px;
				text-decoration: none;
				width: 110px;
				height: 35px;
				line-height: 39px;
				background: url(images/sub_bg2.png) top no-repeat;
			}

	.nav .about
	{
		width: 188px;
		height: 24px;
		display: inline;
		position: relative;
		z-index: 1000;
		margin-top: 4px;
		cursor: pointer;
		float: right;
	}

.about_in
{
	width: 188px;
	position: absolute;
	padding: 10px 0 15px 0;
	background: #113d68;
	display: none;
}

	.about_in a
	{
		padding-left: 20px;
		display: block;
		color: #FFF;
	}

.pic_bg
{
	background: #f8f9fb;
}

#index_pic
{
	background: url(images/index/loadsmall.gif) no-repeat center;
	overflow: hidden;
	width: 990px;
	position: relative;
	height: 300px;
	margin: 0 auto;
}

	#index_pic ul
	{
		z-index: 999;
		right: 3px;
		bottom: 0px;
		position: absolute;
		text-align: left;
	}

		#index_pic ul li
		{
			display: block;
			font-weight: 900;
			font-size: 12px;
			float: left;
			width: 70px;
			color: #aaa;
			position: relative;
			height: 50px;
		}

	#index_pic li div
	{
		margin-top: 5px;
		display: none;
		padding-left: 10px;
		margin-left: 70px;
	}

	#index_pic li img
	{
		border-right: #fff 1px solid;
		border-top: #fff 1px solid;
		filter: alpha(opacity=60);
		left: 10px;
		float: left;
		border-left: #fff 1px solid;
		width: 52px;
		cursor: pointer;
		margin-right: 4px;
		border-bottom: #fff 1px solid;
		position: absolute;
		top: 5px;
		height: 35px;
		moz-opacity: 0.6;
	}

#mask
{
	z-index: 990;
	background: url(mask.gif);
	left: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	height: 100%;
}

#back
{
	width: 990px;
	height: 300px;
	margin: 0 auto;
}

	#back img
	{
		border: none;
	}

.gray
{
	filter: Gray();
}

.index_bg
{
	height: 327px;
	border-bottom: 1px solid #e8e9eb;
	background: url(images/title_bg.jpg) #f8f9fb top repeat-x;
}

.index_content
{
	width: 980px;
	line-height: 2em;
	padding: 0 5px;
	margin: 0 auto;
}

	.index_content p
	{
		color: #6C6A6B;
		margin: 0;
		padding: 15px 10px;
	}

	.index_content .more
	{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}

	.index_content .col_l
	{
		width: 350px;
		float: left;
		height: 320px;
		padding-top: 7px;
		position: relative;
	}

	.index_content .col_m
	{
		width: 315px;
		float: left;
		height: 320px;
		padding-top: 7px;
		position: relative;
		background: url(images/line_bg.gif) left repeat-y;
	}

	.index_content .title
	{
		height: 16px;
		line-height: 16px;
		font-weight: bold;
		color: #195A94;
		margin-left: 10px;
		padding: 0 0 0 10px;
		border-left: 4px solid #195A94;
	}

	.index_content ul
	{
		padding: 15px 10px;
	}

	.index_content li
	{
		padding-left: 10px;
		background: url(images/li.gif) left 12px no-repeat;
	}

	.index_content .title span
	{
		color: #7bb15b;
		padding-left: 5px;
		font-size: 13px;
		font-weight: normal;
	}

	.index_content strong
	{
		color: #195A94;
	}

.list_nav
{
	height: 120px;
	background: #f8f9fb;
	text-align: center;
}

.list_box
{
	width: 990px;
	overflow: hidden;
	margin: 0 auto;
	padding: 30px 0 15px 0;
}

.list_side
{
	width: 230px;
	float: left;
}

.side_top
{
	height: 6px;
	overflow: hidden;
	background: url(images/side_top.jpg);
}

.side_bottom
{
	height: 6px;
	overflow: hidden;
	background: url(images/side_bottom.jpg);
}

.side_content
{
	background: url(images/side_bg.jpg);
}

	.side_content dl
	{
		padding-bottom: 15px;
	}

	.side_content dt
	{
		font-size: 16px;
		font-weight: bold;
		padding-left: 10px;
		color: #1e4158;
	}

	.side_content a
	{
		display: block;
		text-decoration: none;
		width: 204px;
		height: 28px;
		line-height: 28px;
		margin: 0 auto;
		padding-left: 20px;
	}

	.side_content .life a
	{
		background: url(images/li2.gif) 8px center no-repeat;
	}

	.side_content a:hover
	{
		text-decoration: underline;
	}

	.side_content a.set
	{
		color: #FFF;
		background-color: #8ab7d8;
		text-decoration: none;
	}

.list_main
{
	width: 730px;
	display: none;
	float: right;
}

	.list_main h3
	{
		display: block;
		font-size: 16px;
		font-weight: bold;
		padding-top: 6px;
	}

	.list_main h4
	{
		display: block;
		padding-left: 10px;
		font-size: 14px;
		background: url(images/li.gif) left center no-repeat;
	}

.main_content
{
	line-height: 2em;
}

	.main_content img
	{
		padding: 3px;
		margin: 5px;
		border: 1px solid #CCC;
	}

	.main_content p
	{
		text-indent: 2em;
	}

	.main_content ul
	{
		padding: 15px 10px;
	}

	.main_content li
	{
		padding-left: 10px;
		background: url(images/li.gif) left center no-repeat;
	}

.groups img
{
	padding: 3px;
	margin: 5px;
	border: 1px solid #CCC;
	float: right;
}

.groups p img
{
	float: none;
}

.life_pic img
{
	display: inline;
	margin: 10px 20px;
	width: 300px;
	height: 200px;
	float: left;
}

.list_hr p
{
	margin: 0;
	padding: 0 0 0 85px;
	text-indent: -75px;
}

#footer
{
	padding: 25px 0;
	text-align: center;
	font-size: 12px;
	color: #72a5b8;
}

	#footer .foot
	{
		width: 415px;
		margin: 0 auto;
		border-bottom: 1px dashed #72a5b8;
	}

		#footer .foot a
		{
			color: #4691B9;
			padding: 0 8px;
			text-decoration: none;
		}

			#footer .foot a:hover
			{
				text-decoration: underline;
			}


.BtnBackBG
{
	background-color: #4882c2;
	font-size: 14px;
	color: white;
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ";
	border: 0px;
	padding: 4px;
	margin-left: 10px;
	margin-top: 10px;
}

.TextBox
{
	width: 110px;
	height: 22px;
	border: 1px solid #4882c2;
	margin: 10px;
	margin-left:2px;
	margin-right:15px;
	font-size: 14px;
	background-color: #f8f9fb;
}

.ICON
{
	padding-top: 10px;
	padding-left:5px;
	padding-right:1px;
	text-align:right;
}

#TopLoginWindows li, TopLoginAccount li
{
	float: left;
}
